export CFLAGS="-Os -mtune=generic -fstack-protector-strong -Wformat -Wformat-security -Werror=format-security"
export CPPFLAGS="-D_FORTIFY_SOURCE=2"
export CXXFLAGS="${CFLAGS}"
export LDFLAGS="-Wl,-z,relro,-z,now,--as-needed"

ALLOWED_VARIABLES+=( CFLAGS CPPFLAGS CXXFLAGS LDFLAGS )
